@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="loader">
    <div class="cube">
        <div class="face"></div>
        <div class="face"></div>
        <div class="face"></div>
        <div class="face"></div>
        <div class="face"></div>
        <div class="face"></div>
    </div>
</div>

<div class="names">
    <h1>Feito Por</h1>
    <p>Felipe Garbelini Ferreira </p> <br>
    <p>Evandro Horiuti Sakuma </p> <br>
    <p>Leonardo Kenji Funai </p> <br>
    <p>Gabriel Gomes Nunes Batista  </p>
</div>
